@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}
*{
  padding: 0;
  margin: 0;
  
}
a,
.green {
  text-decoration: none;
  color: #0a2833;
  transition: 0.4s;
  padding: 3px;
}

.flex{
  display: flex;
}

.ant-pagination-item-container{
  display: none;
  transform: scale(0.5);
}
.ant-notification{
  z-index: 999999999999999 !important;
}
.owl-dots *{
  color: black;
  background: black;
}
.ant-tabs-tab{
  min-width: 60px;
  text-transform: uppercase;
}
.ant-tabs-nav-list{
  width: 100%;
}
.ant-tabs-tab *{
  font-size: 13px;
  margin: auto;
}
.ant-tabs-nav-list{
  max-width: 300px;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .ant-tabs-nav-list{
    margin: 0;
  }
  .ant-tabs-tab *{
    font-size: 11px;
  }
}